[Unit]
Description=rtnF Note

[Service]
WorkingDirectory=/home/rtnf/Sofuto/gowiki
ExecStart=/home/rtnf/Sofuto/gowiki/rtnf

[Install]
WantedBy=multi-user.target
