@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'),url('/r/noto.woff2') format('woff');
}

html {
  scroll-behavior: smooth;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: #0983bf;
}


#main-txtbox {

width: 95%;
border: 0px;
padding-left: 3%;
overflow: hidden;
resize: none;
font-family: 'Noto';
color: #1A1A1B;
font-size: 14px;
line-height: 21px;
font-weight: 400;
padding-bottom: 500px;
margin-top: 47px;
max-width: 750px;
}

